<div class="slides">
<section>
<pre><code class="language-c">#include&lt;stdio.h&gt;
int smallest(int x, int y)
{
  if(x&lt;y)
  {
	return x;
  }
  else
  {
	return y;
  }
}
int main(void)
{
  int a,b;
  printf("Enter two integers\n);
  printf("Let me tell your their relations\n");
  printf("Enter the first integer: ");
  scanf("%d",&a);
  printf("Enter the second integer: ");
  scanf("%d",&b);
  int c=smallest(a,b);
  printf("%d is the smallest between %d and %d\n",c,a,b);
  return 0;
}
					</code></pre>
					</script>
				</section>
</div>