<div class="slides">
	<section>
		<section>
			<h2>Computer Systems</h2>
		</section>
		<section id="fragments">
			<h2><mark><font color="maroon">Computer Systems</font></mark></h2>
			<p>Developed by Academia and Industry</p>
			<p class="fragment">Daily usage:  <span class="fragment highlight-red">General Purpose Machines</span></p>
			<p class="fragment">Specific applications: <span class="fragment highlight-green">Special Purpose Machines</span></p>
			<p><span class="fragment">Defined through their interfaces at a number of layered abstraction levels</span></p>
			</aside>
		</section>
		<section>
			<h2><mark><font color="maroon">Computer Systems</font></mark></h2>
			<p class="fragment grow">Application Programs</p>
			<p class="fragment grow"><span class="fragment highlight-red">High-Level Languages: </span> Set of Machine Instructions</p>
			<p class="fragment grow"><span class="fragment highlight-blue">Language Architecture: </span> Interface batween Application Program and High-Level Language</p>
			<p class="fragment grow"><span class="fragment highlight-green">Instruction set Architecture:</span> Interface between machine instructions set and runtime, I/O Control </p>
		</section>
		<section>
			<h2><mark><font color="maroon">Four Basic View Points</font></mark></h2>
			<p class="fragment grow">Structure: Interconnection of various hardware components</p>
			<p class="fragment grow"><span class="fragment highlight-red">Organization </span> Dynamic Interplay and Management of various components</p>
			<p class="fragment grow"><span class="fragment highlight-blue">Implementation: </span> Design of hardware components</p>
			<p class="fragment grow"><span class="fragment highlight-green">Performance:</span> Behaviour of the computer system</p>
		</section>
	</section>
	<section>
</div>