<div class="slides">
	<section>
		<section>
			<h2>Computer Organization</h2>
		</section>
		<section>
			<h3><mark><font color="maroon">Computer Organization</mark></font></h3>
			<h3> Input Unit</h3>
			<ul>
				<li>Keyboard</li>
				<li>Touch screens</li>
				<li>Mouse</li>
				<li>Voice Commands</li>
				<li>Scanning Images</li>
				<li>Barcode...</li>
			</ul>
		</section>
		<section>
			<h3><mark><font color="maroon">Computer Organization</mark></font></h3>
			<h3> Output Unit</h3>
			<ul>
				<li>Screens</li>
				<li>Printed On Paper</li>
				<li>Audio</li>
				<li>Video</li>
				<li>...</li>
			</ul>
		</section>
		<section>
			<h3><mark><font color="maroon">Computer Organization</mark></font></h3>
			<h3> Memory Unit</h3>
			<ul>
				<li>CPU Registers</li>
				<li>Main Memory or RAM</li>
				<li>Secondary Storage</li>
				<li>HDD,SSD,USB,DVD</li>
				<li>...</li>
			</ul>
		</section>
		<section>
			<h3><mark><font color="maroon">Computer Organization</mark></font></h3>
			<h3> ALU</h3>
			<ul>
				<li>Calculations: Add, Subtract, Divide, Multiply</li>
				<li>Decision Making</li>
			</ul>
		</section>
		<section>
			<h3><mark><font color="maroon">Computer Organization</mark></font></h3>
			<h3> CPU </h3>
			<ul>
				<li>Administrative Section</li>
				<li>Tells the ALU when information should be read from MU</li>
				<li>Tells the ALU when information should be used from MU</li>
				<li>Tells the ALU when information should be send from MU to Output</li>
				<li>Multi-Core Processors</li>
			</ul>
		</section>
		<section>
			<h2><mark><font color="maroon">Data Hierarchy</mark></font></h2>
			<ul>
				<li><span class="fragment highlight-green">Bits:</span> Smallest Data item, 0 or 1, binary digit</li>
				<li><span class="fragment highlight-blue">Characters:</span> Decimal digits, letters, symbols, Unicode, ASCII</li>
				<li><span class="fragment highlight-blue">Fields:</span> Composed of Bits, Bytes or Characters</li>
				<li><span class="fragment highlight-green">Records:</span> Composed of field </li>
				<li><span class="fragment highlight-red">Files:</span> Group of records</li>
				<li><span class="fragment highlight-green">Database:</span> A collection of data</li>
				<li><span class="fragment highlight-red">Big Data</span> </li>
			</ul>
		</section>
		<section>
			<h3><mark><font color="maroon">Byte Measurements</mark></font></h3>
			<table>
				<thead>
					<tr>
						<th>Unit</th>
						<th>Bytes</th>
						<th>Bytes(10<sup>x</sup>)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1 KB</td>
						<td>1024 Bytes</td>
						<td>10<sup>3</sup></td>
					</tr>
					<tr>
						<td>1 MB</td>
						<td>1024 KB</td>
						<td>10<sup>6</sup></td>
					</tr>
					<tr>
						<td>1 GB</td>
						<td>1024 MB</td>
						<td>10<sup>9</sup></td>
					</tr>
					<tr>
						<td>1 TB</td>
						<td>1024 GB</td>
						<td>10<sup>12</sup></td>
					</tr>
					<tr>
						<td>1 PB (Peta)</td>
						<td>1024 TB</td>
						<td>10<sup>15</sup></td>
					</tr>
					<tr>
						<td>1 EB (exa)</td>
						<td>1024 PB</td>
						<td>10<sup>18</sup></td>
					</tr>
					<tr>
						<td>1 ZB (Zetta)</td>
						<td>1024 EB</td>
						<td>10<sup>21</sup></td>
					</tr>
				</tbody>
			</table>
		</section>
	</section>
</div>