﻿<section>
    <section>
        <h2>C Programming</h2>
    </section>
    <section>
        <h2><mark><font color="maroon">History</font></mark></h2>
        <ul>
            <li>BCPL (1967): Basic Combined Programming Language</li>
            <li>B (1969): Bell Labs - Ken Thompson and Dennis Ritchie</li>
            <li>C (1972): Bell Labs - Dennis Ritchie </li>
            <li>To Develop the UNIX operating System</li>
        </ul>
    </section>
    <section>
        <h2><mark><font color="maroon">Usage</font></mark></h2>
        <ul>
            <li>Operating System: C or C++</li>
            <li>Mostly Hardware independent</li>
            <li>Portable to Many Computers </li>
            <li>Embedded systems</li>
            <li>Real-time systems</li>
            <li>Communications systems</li>
        </ul>
    </section>
    <section>
        <h2><mark><font color="maroon">Operating System</font></mark></h2>
        <ul>
            <li>A System software to manage hardware and software</li>
            <li>Provides common services for computer programs</li>
            <li>Linux,MS Windows,Google Andriod, Apple OS and so on</li>
            <li>Objective-C: Derived from C</li>
        </ul>
    </section>
    <section>
        <h2><mark><font color="maroon">Embedded System</font></mark></h2>
        <ul>
            <li>Programmed, Controlled OS</li>
            <li>Embedded as part of a complete device</li>
            <li>Majority of microprocessors manufactured to target embedded</li>
            <li>Navigation system, smart home appliances, smart phone</li>
            <li>Tablets, robots and so on</li>
            <li>C is the most popular programming for embedded</li>
        </ul>
    </section>
    <section>
        <h2><mark><font color="maroon">Real-time System</font></mark></h2>
        <ul>
            <li>Real time-OS (RTOS): To serve real-time applications</li>
            <li>Processes data as it comes in, no buffer delay</li>
            <li>Misson critical applications, require instantaneous response time</li>
            <li>Air-traffic control system, networked multimedia system </li>
        </ul>
    </section>
    <section>
        <h2><mark><font color="maroon">Communication System</font></mark></h2>
        <ul>
            <li>System need to route massive amounts of data to their destinations</li>
            <li>To deliver audio and video smoothly without delay</li>
            <li>Optical, Radio, Power line </li>
            <li>Telephone,Mobile</li>
        </ul>
    </section>
</section>