﻿<section>
    <section>
        <h2>C Program Development</h2>
    </section>
    <section>
        <h2><mark><font color="maroon">Processes</font></mark></h2>
        <ul>
            <li>Editor</li>
            <li>Preprocessor</li>
            <li>Compiler</li>
            <li>Linker</li>
            <li>Loading</li>
            <li>Execution</li>
            <li>Debugging</li>
        </ul>
    </section>
    <section>
        <h2><mark><font color="maroon">Phase 1: Editor</font></mark></h2>
        <ul>
            <li>Editing or creating a C file</li>
            <li>gedit, vim, emacs</li>
            <li>Eclipse, MSVC, geany, DevC</li>
            <li>Store the program on secondary hard disk</li>
            <li>Save the file name with an extension .c</li>
        </ul>
    </section>
    <section>
        <h3><mark><font color="maroon">Phase 2: Preprocessing</font></mark></h3>
        <ul>
            <li>While the compiler translates the C program to ML or object code</li>
            <li>Including ofther files for compilation</li>
            <li>Prprocessor program obeys preprocessor directives</li>
        </ul>
    </section>
    <section>
        <h3><mark><font color="maroon">Phase 3: Compilation</font></mark></h3>
        <ul>
            <li>Compiler translates the C program to ML or object code</li>
            <li>Compile error due to syntax error, violating the rules of the language</li>
            <li>Issues an error message to fix the error</li>
            <li>Error message may differ from system to system</li>
        </ul>
    </section>
    <section>
        <h3><mark><font color="maroon">Phase 4: Linking</font></mark></h3>
        <ul>
            <li>References of functions defined elsewhere</li>
            <li>Object code provided by many programmers are linked</li>
            <li>Object code produced by the compiler has holes due to missing parts</li>
            <li>Links the object code for the missing functions</li>
            <li>Produces an executable image</li>
        </ul>
    </section>
    <section>
        <h3><mark><font color="maroon">Phas 2,3 and 4</font></mark></h3>
        <ul>
            <li>Usually, Phase 2,3 and 4 can be done by a single command for smaller program</li>
            <li>gcc FileName.C</li>
            <li>It compiles, links and creates an executable a.out</li>
        </ul>
    </section>
    <section>
        <h3><mark><font color="maroon">Phase 5: Loading</font></mark></h3>
        <ul>
            <li>Before Execution</li>
            <li>Must be placed in memory first</li>
            <li>Loader loads executable image from disk to memory</li>
            <li>Additional components from shared libraries required for the program</li>
        </ul>
    </section>
    <section>
        <h2><mark><font color="maroon">Phase 6: Execution</font></mark></h2>
        <ul>
            <li>Under the control of CPU</li>
            <li>Execution one instruction at a time</li>
            <li>To load and execute, ./a.out</li>
            <li>Provides necessary input from stdin(a keyboard)</li>
            <li>Produces output to stdout(a computer screen)</li>
            <li>stderr: to display the error to the screen</li>
        </ul>
    </section>
    <section>
        <h3><mark><font color="maroon">Phase 7: Debugging</font></mark></h3>
        <ul>
            <li>Not necessary to produce error free code in first attempt</li>
            <li>Syntax error, runtime error, segmentation fault</li>
            <li>Make necessary corrections depending on the code and repeat all steps</li>
        </ul>
    </section>
</section>

