﻿<section>
    <section>
        <h2>C Standard</h2>
    </section>
    <section>
        <h2><mark><font color="maroon">Book</font></mark></h2>
        <ul>
            <li>1978: First Book on C</li>
            <li>The C Programming Language: Kernighan and Dennis Ritchie</li>
        </ul>
    </section>
    <section>
        <h2><mark><font color="maroon">Variations</font></mark></h2>
        <ul>
            <li>Rapid Growth</li>
            <li>Different Variations for various type of hardware platforms</li>
            <li>Incompatible</li>
            <li>Requirement of Standard C: 1983</li>
            <li>American National Standards Committee on Computers and Information Processing</li>
        </ul>
    </section>
    <section>
        <h2><mark><font color="maroon">ANSI</font></mark></h2>
        <ul>
            <li>American National Standards Institute</li>
            <li>1989: ANSI X3.159-1989</li>
            <li>or ANSI C or Standard C</li>
            <li>Approved by ISO 1999: ISO C</li>
            <li>1999: C99</li>
        </ul>
    </section>
    <section>
        <h2><mark><font color="maroon">C11 and C18</font></mark></h2>
        <ul>
            <li>C11: 2011</li>
            <li>Expands C's capabilities: Atomic operations, multi-thread</li>
            <li>C18: 2017/2018 </li>
            <li>Clarifications of defects of C11</li>
            <li>Technical Corrections</li>
            <li>No new language features</li>
        </ul>
    </section>
</section>