<div class="slides">
	<section>
		<section>
			<h2>Hardware and Software</h2>
		</section>
		<section data-background="ES1101/Pictures/harwareandsoftware.png">
			<p></p>
		</section>
		<section>
			<h3><mark><font color="maroon">Hardware and Software</mark></font></h3>
			<p> Hardware: Any Physical device used in or with machines</p>
			<p> Software: Collection of Code Installed on computers' hard drive</p>
		</section>
		<section>
			<h3><mark><font color="maroon">Hardware and Software</mark></font></h3>
			<ul>
				<li> Billions of Calculations in one second </li>
				<li> SuperComputers: Quadrillions of instructions per second </li>
				<li> Computer Programs: Computer processes data under the control of sequences of instructions</li>
				<ul>
					<li> Guides the computers  through ordered actions</li>
					<li> Guided by people: Programmers</li>
				</ul>
			</ul>
		</section>
		<section>
			<h2><mark><font color="maroon">Moore's Law</mark></font></h2>
			<ul>
				<li> Hardware cost decreases rapidly </li>
				<li> Capacities of computers doubles every year </li>
				<li> Number of transistors in dense integrated circuit doubles every year </li>
			</ul>
			<p>SSI,LSI,VLSI,VVLSI,UVLSI,WSI,SOC,3D-IC</p>
		</section>
		<section>
			<h2><mark><font color="maroon">Performance</mark></font></h2>
			<ul>
				<li> Short Response Time </li>
				<li> Hight Throughput </li>
				<li> Availability </li>
				<li> Processing Speed </li>
				<li> Latency </li>
				<li> Bandwidth </li>
				<li> Power consumption </li>
				<li> Scalability </li>
			</ul>
		</section>
	</section>
</div>