<div class="slides">
	<section>
		<section>
			<h2>History</h2>
		</section>
		<section>
			<h2><mark><font color="maroon">History</font></mark></h2>
			<p>
				Z1 (1938): First Program controlled (Mechanical Computer)
			</p>
			<p>
				Z2 (1939): First Operational Program controlled computer with fixed point arithmetic
			</p>
			<p>
				1940: Iowa State University, small-scale, special-purpose electronic computer, not operational
			</p>
			<p>
				Z3 (1941): Fully functional programmable special-purpose machine (Germany)
			</p>
		</section>
		<section data-background="ES1101/Pictures/ENIAC.png">

			<h2><mark><font color="maroon">History</font></mark></h2>
			<h3>ENIAC(1944)</h3>
			<p>
				Electronic Numerical Integration And Calculator
			</p>
			<p>
				First operational general-purpose machine, 18000 vaccum tubes
			</p>
			<p>
				For World War II, Weight: 30 tons, 1500 Sq.ft, 140kW power
			</p>
			<p>
				Programmable through manaul switching, Very slow by today's standard, very less storage
			</p>
		</section>
		<section>
			<h2><mark><font color="maroon">Von-Neumann Machine</mark></font></h2>
		</section>
		<section data-background="ES1101/Pictures/Von-Neumann.png">
			<p></p>
		</section>
		<section>
			<h2><mark><font color="maroon">Von-Neumann</mark></font></h2>
			<h3>EDVAC</h3>
			<p>
				Successor of ENIAC, 1946-1952, Electronic Discrete Variable Automatic Computer
			</p>
			<p>
				Institute for Advanced Study, Princeton
			</p>
			<p>
				Executes stored program
			</p>
			<p>
				Memory buffer register, Memory address register, instruction register, instruction buffer register, program counter, accumulator, multiplier quotient.
			</p>
		</section>
		<section>
			<h2><mark><font color="maroon">Von-Neumann</mark></font></h2>
			<ul>
				<li> EDSAC(1949): Electronic Delay Storage Automatic Calculator </li>
				<li> MARK I, II, III, IV</li>
                <li> BINAC(1949): Binary Automatic Computer</li>
                <li> UNIVAC(1951): Universal Automatic Computer</li>
				<li> IBM701(1952): International Business Machines</li>
			</ul>
		</section>
		<section>
			<h2><mark><font color="maroon">Von-Neumann</mark></font></h2>
			<ul>
				<li> Second Generations: Transistor </li>
				<li> Third Generations: Integrated Circuits</li>
				<ul>
					<li> Microelectronics</li>
					<li> Semiconductor</li>
					<li> Microprocessors: 4004, 8080, 8086, ... </li>
                    <li>Pentium I, II, III, IV, Core, Core 2</li>
				</ul>
			</ul>
		</section>
		<section>
			<h3><mark><font color="maroon">Personal Computer</mark></font></h3>
			<ul>
				<li> 1977: Apple </li>
				<li> Atlair, Processor Techonolgy</li>
				<li> North Star</li>
				<li> Tandy</li>
				<li> Commodore</li>
				<li> ...</li>
			</ul>
		</section>
		<section>
			<h3><mark><font color="maroon">Personal Computer</mark></font></h3>
			<ul>
				<li> Compaq </li>
				<li> IBM</li>
				<li> Dell </li>
				<li> HP</li>
				<li> Lenovo</li>
				<li> ...</li>
			</ul>
		</section>
		<section data-background="ES1101/Pictures/250MBHardDrive1979.jpg">
			<p></p>
		</section>
	</section>
</div>	