<section>
<section>
		<h2><mark><font color="maroon">Marks</font></mark></h2>
		<table>
			<thead>
				<tr>
					<th>Components</th>
					<th>Marks</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Quiz 1</td>
					<td>10</td>
				</tr>
				<tr>
					<td>Quiz 2</td>
					<td>10</td>
				</tr>
				<tr>
					<td>Assignments</td>
					<td>20</td>
				</tr>
				<tr>
					<td>Lab Exams</td>
					<td>20</td>
				</tr>
				<tr>
					<td>End Sem</td>
					<td>40</td>
				</tr>
				<tr>
					<td>Total</td>
					<td>100</td>
				</tr>
			</tbody>
		</table>
	</section>
	<section>
		<h2><mark><font color="maroon">References</font></mark></h2>
		<ul>
			<li> H. M. Deitel and P. J. Deitel, C: How to program, Prentice Hall India, (2014).</li>
			<li> S. C. Chapra and R. P. Canale, Numerical Methods for Engineers, Mc-Graw Hill, (2010).</li>
		</ul>
	</section>
</section>