<div class="slides">
	<section>
		<h3>The Lorenz Equations</h3>
		\[\begin{aligned}
		\dot{x} &amp; = \sigma(y-x) \\
		\dot{y} &amp; = \rho x - y - xz \\
		\dot{z} &amp; = -\beta z + xy
		\end{aligned} \]
	</section>
</div>