<div class="slides">
	<section>
		<section>
			<h2>Machine/Assembly/High-Level Languages</h2>
		</section>
		<section>
			<h3><mark><font color="maroon">Machine Language</mark></font></h3>
			<ul>
				<li>Computer can directly understand only its own ML</li>
				<li>Defined by its hardware design</li>
				<li>Strings of Numbers (0s and 1s)</li>
				<li>Machine Dependent</li>
				<li>Difficult for human to understand</li>
				<li>Slow and tedious for a programmer</li>
			</ul>
		</section>
		<section>
			<h3><mark><font color="maroon">Assembly Language</mark></font></h3>
			<ul>
				<li>Strings of numbers computer can understand</li>
				<li>English-like abbreviations</li>
				<li>Abbreviations are basis of AL</li>
				<li>Assembler: Translator programs, AL to ML</li>
				<li>Code is quite easier than ML to understand by human</li>
				<li>Need more instructions for simplest task</li>
			</ul>
		</section>
		<section>
			<h3><mark><font color="maroon">High-Level Language</mark></font></h3>
			<ul>
				<li>Single Statment to accomplish substantial tasks</li>
				<li>Compilers: Translator program HLL to ML</li>
				<li>Easy to understand</li>
				<li>Variables, Arrays,Objects,Loop</li>
				<li>Boolean,Functions,threads,abstract</li>
			</ul>
		</section>
		<section>
			<h3><mark><font color="maroon">Interpreters</mark></font></mark></h3>
			<ul>
				<li>Large HLL to ML takes more time to compile</li>
				<li>Interpreters: Developed to execute HLL directly</li>
				<li>No compilation delay</li>
				<li>Slower than compiled programs</li>
				<li>JIT in Java, Python,Matab</li>
			</ul>
		</section>

	</section>
</div>

