﻿<section>
    <section>
        <h2>Other Languages</h2>
    </section>
    <section>
        <h2><mark><font color="maroon">C++</font></mark></h2>
        <ul>
            <li>Bjarne Stroustrup: Bell Labs</li>
            <li>Imperative</li>
            <li>Object Oriented: Reusable software components</li>
            <li>ISO/IEC14882-1998,2003,2011,2014,2017</li>
            <li>C++98,C++03,C++11,C++0X,C++14,C++1y,C++17,C++1z,C++20</li>
        </ul>
    </section>
    <section>
        <h2><mark><font color="maroon">Objective C</font></mark></h2>
        <ul>
            <li>Object Oriented C</li>
            <li>Developed: 1980. Acquired NeXT and then Apple</li>
            <li>Key programming language for OS X and iOS devices</li>
        </ul>
    </section>
    <section>
        <h2><mark><font color="maroon">Java</font></mark></h2>
        <ul>
            <li>Sun Microsystems, 1991</li>
            <li>Runs on a broad variety of</li>
            <ul>
                <li>Computer systems</li>
                <li>Computer-controlled devices</li>
            </ul>
            <li>Write once, run anywhere</li>
            <li>Smart phone, Android App Development</li>
        </ul>
    </section>
    <section>
        <h2><mark><font color="maroon">C#</font></mark></h2>
        <ul>
            <li>Microsoft's Prorgramming language</li>
            <li>VB,VC++,VC#</li>
            <li>VC#-C++ and Java</li>
            <li>integrating internet and web</li>
        </ul>
    </section>
    <section>
        <h2><mark><font color="maroon">PHP</font></mark></h2>
        <ul>
            <li>Scripting language</li>
            <li>Millions of websites</li>
            <li>Platform independent</li>
            <li>Supports database</li>
        </ul>
    </section>
    <section>
        <h2><mark><font color="maroon">Python</font></mark></h2>
        <ul>
            <li>1991: National Research Institute for Mathematics and Computer Science</li>
            <li>Extended through classes</li>
            <li>Programming interfaces</li>
        </ul>
    </section>
    <section>
        <h2><mark><font color="maroon">Javascript</font></mark></h2>
        <ul>
            <li>Scripting language</li>
            <li>Used to add dynamic behaviour of web pages</li>
            <li>Animations, interaction with user</li>
            <li>Major Web browsers</li>
        </ul>
    </section>
    <section>
        <h2><mark><font color="maroon">Swift</font></mark></h2>
        <ul>
            <li>Apple's programming language for iOS: 2014</li>
            <li>Modern language for app-development</li>
            <li>Easy for beginners</li>
            <li>Performance and security</li>
        </ul>
    </section>
</section>

