﻿<section>
    <section>
        <h2>C Standard Library</h2>
    </section>
    <section>
        <h2><mark><font color="maroon">Functions</font></mark></h2>
        <ul>
            <li>C Program: Pieces of blocks, functions</li>
            <li>Rich collection of existing functions</li>
            <li>C Standard Library</li>
        </ul>
    </section>
    <section>
        <h2><mark><font color="maroon">How to Program</font></mark></h2>
        <ul>
            <li>Learning the C language itself</li>
            <li>Learning how to use the functions in the C Standard Library</li>
        </ul>
    </section>
    <section>
        <h2><mark><font color="maroon">When Programming in C</font></mark></h2>
        <ul>
            <li>C Standard Library Functions</li>
            <li>Functions you create yourself</li>
            <ul>
                <li>Advantage: You know exactly what it does</li>
                <li>Disadvantage: Time consuming to design, develop, debug, tuning to perform</li>
            </ul>
            <li>Functions created by other people (open source, closed source)</li>
        </ul>
    </section>
</section>